./ARC-solution-ORIG/.git
./ARC_fermigas/.git
./arc-dsl-helpers/TransCoder/.git
./arc-dsl-helpers/prometeo/.git
./arc-dsl-helpers/NearlyPurePythonWebAppDemo/.git
./arc-dsl-helpers/pseudo-python/.git
./arc-dsl-helpers/p2j/.git
./arc-dsl-helpers/py2cpp/.git
./arc-dsl-helpers/metapensiero.pj/.git
./arc-dsl-helpers/py2many/.git
./arc-dsl-helpers/ComPy/.git
./arc-dsl-helpers/py2js/.git
./arc-dsl-helpers/parcel-transformer-transcrypt/.git
./arc-dsl-helpers/pytocs/.git
./arc-dsl-helpers/py-to-js-translator/.git
./arc-dsl-helpers/pyplus/.git
./dbigham/.git
./work/repositories/dl_ARC_study/.git
./work/repositories/arc_study/.git
./work/repositories/homepage/.git
./arc-community-arc/.git
./ARC_jmmcd/.git
./arc-task-generator/.git
./MINI-ARC/.git
./ARC_study/.git
./ARC-solution/.git
.git/
*/.git/
**/.git
