*.bak
libONA.a
libONA.so
3.exe
ANSA.exe
a.out
NAR
src/RuleTable.c
*.qlf
unused/RuleTable.c
*~
*~/
prolog/.BAK/
prolog/.BU/
prolog/ARC-Others/work/
prolog/ILP/
prolog/MIndiGolog/
.history/
.q_file_picker/
.vscode/PythonImportHelper-v2-Completion.json
BFLY0/
BFLY1/

amigolog/
arc_toooooooo/
butterfly/bin/python
butterfly/bin/python3
butterfly/build/
butterfly/lib/python3.7/site-packages/butterfly
butterfly/lib64
prolog/PrologARC.vtg
prolog/RNRNRNR/
prolog/abduction/
prolog/agi_lib/
prolog/episodic_memory/
prolog/neural_bonzon/
prolog/pybrown/


prolog/kaggle_arc/induction/wrrewer
prolog/kaggle_arc/io.ansi
prolog/kaggle_arc/kaggle.json
prolog/kaggle_arc/?*.new
prolog/kaggle_arc/kaggle_arc_prior_grouping
prolog/kaggle_arc/kaggle_arc_symmetry.good
prolog/kaggle_arc/kaggle_arc_uniqueness - Copy.oops
prolog/kaggle_arc/kaggle_arc_uniqueness.oops
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.broken
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.oncew
prolog/kaggle_arc/kaggle_arc_uniqueness.pl.tryingh
prolog/kaggle_arc/kaggle_arc_uniqueness_API
prolog/kaggle_arc/logical_ml/muarc_dmiles
prolog/kaggle_arc/muarc_cache/
prolog/kaggle_arc/muarc_output/
prolog/kaggle_arc/muarc_output_html/
prolog/kaggle_arc/redirect_port.sh
prolog/kaggle_arc/tee.ansi
prolog/kaggle_arc_minikanren.pl
prolog/kaggle_arc_saved/
prolog/libnlu/
prolog/logicmoo_agi.pl
prolog/logicmoo_arc.pl
prolog/neck_search.text
prolog/shared/GPT-ARC
prolog/shared/IDocs/
prolog/shared/Untitled-1.html
prolog/shared/Untitled-1.js
prolog/shared/Untitled-1.txt
prolog/shared/abstraction-and-reasoning-challenge.zip
prolog/shared/apps/
prolog/shared/arc_testing_interface.html
prolog/shared/bad.txt
prolog/shared/dfsdfsf
prolog/shared/dom-to-image/
prolog/shared/httpd.log
prolog/shared/indivduations
prolog/shared/ka.txt
prolog/shared/lgen.pl
prolog/shared/lilp.pl
prolog/shared/modified-files.zip
prolog/shared/npm-shrinkwrap.json
prolog/shared/npmswq
prolog/shared/package-lock.json
prolog/shared/package.json
prolog/shared/pj
prolog/shared/pl
prolog/shared/plj
prolog/shared/prolog - Shortcut.lnk
prolog/shared/propcounts
prolog/shared/sample_submission.csv
prolog/shared/snetd
prolog/shared/static/
prolog/shared/update.zip
prolog/talespin-annie/
prolog2/
t/
~git.hozed/

prolog/symbolic_ml/kaggle.json
prolog/shared/bin/
prolog/shared/css/
prolog/shared/eng.le
prolog/shared/good.txt
prolog/shared/html-to-image/
prolog/shared/js/

